<div class="card-content">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Are you patient?</mat-card-title>
      <mat-card-subtitle>Make an appoitment with your doctor!</mat-card-subtitle>
    </mat-card-header>
    <!--Here should be an image for patient and doctor-->
    <mat-card-actions>
      <button mat-button color="primary">MAKE AN APPOITMENT</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Are you doctor?</mat-card-title>
      <mat-card-subtitle>Check your calendar and approve appoitment!</mat-card-subtitle>
    </mat-card-header>
    <!--Here should be an image for doctor in cabinet-->
    <mat-card-actions>
      <button mat-button color="primary">LOGIN</button>
    </mat-card-actions>
  </mat-card>
</div>